html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://pic2.zhimg.com/6e86a05b8b88f1a8abc5eec44af6eced_r.jpg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

.top-nav-collapse {
  background-color: #24355C;
}